[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench
[submodule "3rdparty/vin-engine"]
	path = 3rdparty/vin-engine
	url = https://github.com/HITOA/vin-engine
